@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Aleo', serif;
}


.todo-section {
  width: 40%;
  margin: 0 auto;
  padding-top: 5%;
}

.task-label {
  font-size: 22px;
  padding-right: 9px;
}

.form-block {
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 680px;
  align-items: center;
}
.add-task-input {
  width: 100%;  
  border: none;
  padding: 11px;
  border-radius: 5px;
  background: rgb(205, 225, 243);
}

.input-block {
	width: 77%;
  display: flex;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.no-task {
  margin: 0 auto;
}

.todo-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  cursor: grab;
  background: #f3f7ff;
  border: 4px dotted #2c448e;
  border-radius: 9px;
}

.todo-item {
  display: flex;
  justify-content: flex-end;
	
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 9px;
 

  p {
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 2;
  }
}

.btn-add-task {
	background: #6591e4;
	border: 3px solid #2c448e;
	border-radius: 4px;
	font-size: 19px;
	font-family: 'Aleo', serif;
	color: #fff;
	padding: 4px 11px;
  cursor: pointer;

  &:hover {
    background: #4770bc;
  }
}


.task-checked {
  text-decoration: line-through;
}
.task-unchecked {
  text-decoration: none;
}

.todo-item-btn {
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  border-radius: 5px;
  &:hover {
    background: rgb(250, 182, 193);
  }
  cursor: pointer;
}

.todo-checkbox-label {
  width: 35px;
  height: 35px;

  border-radius: 5px;
  &:hover {
    background: rgb(151, 218, 147);
  }
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.todo-checkbox {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 1024px) {
  .todo-section {
    width: 648px;
  }

  .task-label {
    font-size: 26px;
  }

  .btn-add-task {
    font-size: 21px;
  }

  .todo-item {
    p {
      font-size: 21px;
    }
  }

  .todo-checkbox-label {
    width: 41px;
    height: 41px;
  }

  .todo-item-btn {
    width: 41px;
    height: 41px;
   }

  
}

@media screen and (max-width: 748px) {
  .todo-section {
    width: 94vw;
  }

  .form {
    width: auto;
  }

  .input-block {
    width: 60vw;
    display: flex;
    align-items: center;
    margin-right: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .article {
    width: 96%;
  }
}